*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --cor-vermelha: #F5124B;
    --cor-amarela: #fdcf00;
    --cor-cinza: #615f5f;
    --cor-black: #000000;
    --cor-white: #ffffff;
}

body{
    width: 100%;
    background-image: url(../images/Berserk\ HD\ desktop\ wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* HEADER E FOOTER */
header , footer{
    width: 100%;
    display: flex;
    padding: 20px 0px;
    color: var(--cor-vermelha);
}

/* HEADER */
header{
    height: 100px;
    align-items: center;
    background-color: #000000b2;
}

header h2{
    padding-left: 20px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

header ul{
    display: flex;
    gap: 30px;
}

header li{
    list-style: none;
}

header a{
    font-size: 13pt;
    text-decoration: none;
    color: var(--cor-vermelha);
}

header a:hover{
    color: #ffffff;
    transform: scale(1.25);
}

/* MAIN */
main{
    width: 100%;
}

#AnimeManga{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 20px;
}

#AnimeManga h2{
    color: #F5124B;
    border-bottom: 2px solid;
}

#Animes{
    width: 80%;
    height: 400px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.animemanga{
    width: 15%;
    height: 100%;
    text-align: center;
    color: #F5124B;
    background-color: #000000b2;
}

.animemanga img{
    width: 100%;
    height: 80%;
    padding: 5px;
}

.animemanga button{
    margin: 10px;
    background-color: #f5124b52; 
    padding: 5px;
    border: none;
    border: 1px solid #F5124B;
}

.animemanga a{
    color: #F5124B; 
    text-decoration: none;
}

#Mangas{
    width: 80%;
    height: 420px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* FOOTER */
footer{
    height: 100px;
    background-color: #000000af;
    margin-top: 10px 0px;
    justify-content: center;
    align-items: center;
}