*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 992px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Berserk\ HD\ desktop\ wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* HEADER */
header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000b2;
}

/* LOGIN */
#login{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #00000077;
}

h2{
    width: 90%;
    border-bottom: 1px solid;
    margin-top: 10px;
    color: #f5124b;
    text-align: center;
}

h3{
    width: 40%;
    margin: 10px;
    color: #d30fd3;
    background-color: #d30fd32f;
    text-align: center;
}

/* FORMULARIO */
#form{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    color: #F5124B;
}

input{
    cursor: pointer;
    text-align: center;
}

/* button enviar e resetar */
#buttonEntrarReset button{
    margin: 5px;
    padding: 5px;
    background-color: #f5124ba2;
}

#buttonEntrarReset a{
    text-decoration: none;
    color: #000000;
}