/* geral */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --cor-vermelha: #F5124B;
    --cor-amarela: #fdcf00;
    --cor-cinza: #615f5f;
    --cor-black: #000000;
    --cor-white: #ffffff;
}

body{
    width: 100%;
    background-image: url(../images/Berserk\ HD\ desktop\ wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* HEADER E FOOTER */
header , footer{
    width: 100%;
    display: flex;
    padding: 20px 0px;
    color: var(--cor-vermelha);
}

/* HEADER */
header{
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000b2;
}

header h2{
    padding-left: 20px;
}

header nav{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 20px;
}

header li{
    display: flex;
    align-items: center;
}

header a{
    font-size: 13pt;
    text-decoration: none;
    color: var(--cor-vermelha);
}

header a:hover{
    color: #ffffff;
   transform: scale(1.25);
}

#btnMenu{
    width: 40px;
    height: 40px;
    border: none;
    border: 2px solid #F5124B;
    display: none;
}

#btnMenu img{
    width: 100%;
    height: 100%;
}

#btnMenu1{
    display: none;
}

.btnMenu{
    display: flex;
    padding-right: 20px;
    gap: 30px;
}

/* MAIN */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INTRO */
#intro{
    width: 100%;
    margin: 35px 0px;
    display: flex;
    justify-content: center;
}

#intro p{
    width: 50%;
    text-align: center;
    color: var(--cor-white);
}

/* CATALAGO */
#catalogoAnime{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#catalogoAnime h3{
    color: var(--cor-vermelha);
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

#previaAnime{
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.animes{
    width: 15%;
    height: 300px;
    border: 2px solid #ffffff;
    text-align: center;
}

/* NARUTO */
#naruto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/naruto\ previa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#naruto a{
    text-decoration: none;
    color: #fdcf00;
}

#naruto h4{
    margin-top: 5px;
    background-color: #000000d7;
    border-bottom: 2px solid #fdcf00;
}

#narutop{
    background-color: #000000d7;
    margin-top: 210px;
    color: #fdcf00;
}

/* JUJUTSU-KAISEN */
#jujutsu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/JUJUTSU\ KAISEN\ previa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#jujutsu a{
    text-decoration: none;
    color: rgb(219, 7, 219);
}

#jujutsu h4{
    margin-top: 5px;
    background-color: #000000d7;
    border-bottom: 2px solid ;
}

#jujutsup{
    background-color: #000000d7;
    margin-top: 210px;
    color: rgb(219, 7, 219);
}

/* NINJA-KAMUI */
#ninja{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Ninja\ kamui\ mask.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#ninja a{
    text-decoration: none;
    color: rgb(255, 25, 25);
}

#ninja h4{
    margin-top: 5px;
    background-color: #000000d7;
    border-bottom: 2px solid ;
}

#ninjap{
    background-color: #000000d7;
    margin-top: 210px;
    color: rgb(255, 25, 25);
}

/* MANGAS */
#catalogoManga{
    width: 100%;
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
}

#catalogoManga h3{
    color: var(--cor-vermelha);
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

#previaManga{
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mangas{
    width: 15%;
    height: 300px;
    border: 2px solid #ffffff;
    text-align: center;
}

/* ONE PUNCH MAN */
#onepunch{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/OnepunchMan.jpg);
    background-size: cover;
    background-position: bottom;
}

#onepunch a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#onepunch h4{
    margin-top: 5px;
    background-color: #000000d7;
    border-bottom: 2px solid ;
}

#onepunchp{
    background-color: #000000d7;
    margin-top: 190px;
    color: rgb(255, 255, 255);
}

/* DOCTOR STONY */
#doctor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/doctor\ stony.jpg);
    background-size: cover;
    background-position: bottom;
}

#doctor a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#doctor h4{
    margin-top: 5px;
    background-color: #000000d7;
    border-bottom: 2px solid ;
}

#doctorp{
    background-color: #000000d7;
    margin-top: 210px;
    color: rgb(255, 255, 255);
}

/* SOLO LEVELING */
#solo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Wallpaper\ solo\ leveling.jpg);
    background-size: cover;
    background-position: bottom;
}

#solo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#solo h4{
    margin-top: 5px;
    background-color: #000000d7;
    border-bottom: 2px solid ;
}

#solop{
    background-color: #000000d7;
    margin-top: 210px;
    color: rgb(255, 255, 255);
}

/* MAPS */
#maps{
    width: 60%;
    border: 2px solid var(--cor-vermelha);
    background-color: #0000007c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px;
}

#maps p{
    color: var(--cor-vermelha);
}

#maps1{
    padding: 10px 15px;
}

/* FOOTER */
footer{
    height: 100px;
    background-color: #000000af;
    margin-top: 10px 0px;
    justify-content: center;
    align-items: center;
}